services:
  app:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
      - ./backend/.env.docker
    volumes:
      - ./backend:/app
      - /app/node_modules
    restart: on-failure
    depends_on:
      - db
    command: >
      sh -c "node server.js"


  db:
    image: mongo
    ports:
      - "27018:27017"
    env_file:
      - ./backend/.env
    volumes:
      - ./mongo_db:/data/db
      - ./backend/.dataBase/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro


  web:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./client:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    entrypoint: ["nginx", "-g", "daemon off;"]
