name: CI/CD

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up frontend
        run: |
          cd frontend
          npm install
          npm run build

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Create .env file
        run: echo "${{ secrets.BACKEND_ENV }}" > backend/.env

      - name: Create .env.docker file
        run: echo "${{ secrets.BACKEND_DOCKER_ENV }}" > backend/.env.docker

      - name: Start Docker Compose services
        run: docker compose up -d --build

      - name: Run tests
        run: docker compose exec -T app npm run test:docker

      - name: Display logs if tests fail
        if: failure()
        run: docker compose logs
