name: CI/CD

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

env:
  IMAGE_NAME: my-backend
  DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}
  DB_NAME: ${{ secrets.MONGO_INITDB_DATABASE }}
  DB_USER: ${{ secrets.MONGO_INITDB_ROOT_USERNAME }}
  DB_PWD: ${{ secrets.MONGO_INITDB_ROOT_PASSWORD }}

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up frontend
        run: |
          cd frontend
          npm install
          npm run build

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Create .env file
        run: echo "${{ secrets.BACKEND_ENV }}" > backend/.env

      - name: Create .env.docker file
        run: echo "${{ secrets.BACKEND_DOCKER_ENV }}" > backend/.env.docker

      - name: Create MongoDB initialization directory
        run: |
          mkdir -p ./backend/.dataBase
          touch ./backend/.dataBase/mongo-init.js
          echo "db = db.getSiblingDB('my_database');" > ./backend/.dataBase/mongo-init.js
          echo "db.createUser({ user: '${{env.DB_USER}}', pwd: '${{ env.DB_PWD }}', roles: [{ role: 'readWrite', db: 'my_database' }] });" >> ./backend/.dataBase/mongo-init.js

      - name: Start Docker Compose services
        run: docker compose up -d

      - name: Wait for MongoDB to be ready
        run: |
          sleep 20
          docker compose exec -T db mongosh -u ${{ secrets.DB_USER }} -p ${{ secrets.DB_PASSWORD }} --authenticationDatabase admin --eval "db.adminCommand('ping')" || true

      - name: Run tests
        run: docker compose exec -T app npm run test:docker

      - name: Display logs if tests fail
        if: failure()
        run: docker compose logs

      # --- Docker Hub ---
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest ./backend
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest


